<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Web-2</title>
</head>
<body>
<form>
    Login form

</form>

<form action="/login" method="POST">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <button type="submit">Login</button>
</form>
<p>Message: ${message}</p>

<p>Method: ${method}</p>

<p>URL: ${URL}</p>

<p>email: ${email}</p>

<p>password: ${password}</p>

<p>userlExist: ${userExist}</p>

<p>Reg List of user: ${regList} </p>

<p>Login List of user: ${loglist} </p>

</body>
</html>

