<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web-2</title>
</head>
<body>

<form action="/register" method="POST">
    Email: <input type="text" name="email">
    Password: <input type="text" name="password">
    <button type="submit">Register</button>
</form>
<p>Message: ${message}</p>

<p>Method: ${method}</p>

<p>URL: ${URL}</p>

<p>email: ${email}</p>

<p>password: ${password}</p>

<p>emailExist: ${emailExist?c}</p>

<p>Reg List of user: ${regList} </p>

</body>
</html>